{# templates/security/access_denied.html.twig #}
{% extends 'layout/base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
    <div class="container">
        <h1>Access Denied</h1>
        <p>You do not have enough privileges to access this page.</p>
    </div>
{% endblock %}
