<form method="post" action="{{ path('app_appartement_delete', {'NumApp': appartement.NumApp}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appartement.NumApp) }}">
    <button class="btn">Delete</button>
</form>
